<div class="grid grid-cols-4 gap-2">
    <% @users.each do |user| %>
    <div class="bg-secondary-100 h-60 p-4">
        <%= link_to user.username, user_path(user), class: "text-2xl font-semibold" %>
        <p>Favorite Systems: <%= user.favorite_systems %></p>
    </div>
    <% end %>
</div>