<div class="container mx-auto mt-12 my-4 flex flex-col" id="header">

    <div class="mb-8">
        <h1 class="header mb-1">Users</h1>
        <p>This is a list of all the users on the site. Feel free to browse here to find someone new to play with!</p>
    </div>

    <%= render 'display_users' %>

</div>