<div class="container mx-auto mt-12 my-4 flex flex-col" id="header">

    <div class="mb-8">
        <h1 class="header mb-1">Players</h1>
        <p>These are the users that are currently players in campaigns.</p>
    </div>

    <%= render 'display_users' %>

</div>