<header class="bg-primary-800 sm:p-2">

    <div class="container mx-auto sm:flex sm:justify-between">
        <div class="flex items-center justify-between px-5 py-4">
            <div>
                <%= image_tag "TableTalkLogo.png", class: "h-8 md:h-12" %>
            </div>
            <div class="flex items-center sm:hidden">
                <button type="button" class="text-secondary-200 hover:text-secondary-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="bg-primary-700 sm:bg-primary-800 px-4 py-3 pb-4 text-right sm:flex sm:items-center">
            <a href="#" class="block sm:inline-block sm:px-2 rounded py-0.5 text-secondary-200 hover:bg-primary-900">Campaigns</a>
            <a href="#" class="block sm:inline-block sm:px-2 rounded py-0.5 text-secondary-200 hover:bg-primary-900">Players</a>
        </div>
    </div>

</header>