<div class="container mx-auto w-full mt-12 my-4 px-4 flex flex-col" id="header">

    <div class="mb-8">
        <h1 class="header mb-1">Public Campaigns</h1>
        <p>These campaigns are public and accepting new players! Feel free to browse this list to find a game you'd like to join.</p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <% @campaigns.each do |c| %>
        <div class="bg-secondary-100 h-48 p-4 flex flex-col justify-between">
            <div>
                <%= link_to c.name, campaign_path(c), class: "text-2xl font-semibold" %>
                <p class="text-lg font-medium"><%= c.game_system %></p>
                <p><%= display_number_of_players(c) %></p>
            </div>
            <div>
                <p class="text-sm">Next session: <%= c.next_seshion %></p>
            </div>
        </div>
        <% end %>
    </div>

</div>