<div class="container mx-auto mt-12 my-4 flex flex-col" id="header">

    <div class="mb-8">
        <h1 class="header mb-1"><%= @user.username %>'s Campaigns</h1>
        <p>These are all the campaigns that <%= @user.username%> belongs to.</p>
    </div>

    <div class="grid grid-cols-4 gap-2">
        <% @campaigns.each do |campaign| %>
        <div class="bg-secondary-100 h-60 p-4">
            <%= link_to campaign.name, campaign_path(campaign), class: "text-2xl font-semibold" %>
            <p><%= campaign.game_system %></p>
            <p>Next session: 7/1/2021</p>
        </div>
        <% end %>
    </div>

</div>